.td-green {
  background-color: #9ee287;
  border: solid 1px #00000011;

  &:hover {
    background-color: #87e29e;
  }
}

.td-red {
  background-color: #e2879e;
  cursor: not-allowed !important;
  border: solid 1px #00000011;

  &:hover {
    background-color: #e2879e;
  }
}

.td-orange {
  background-color: rgba(255, 127.5, 4, 1);

  &:hover {
    background-color: rgba(255, 127.5, 0, 1);
  }
}
