@import "mixins";
@import "variables";

@include keyframes(to-white) {
  @include makeKeyframes(rgba(0, 0, 0, 0), $paper);
}

@include keyframes(to-none) {
  @include makeKeyframes($paper, rgba(0, 0, 0, 0));
}

@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(auth-expand) {
  from {
    height: 40vw;
  }
  to {
    height: 55vw;
  }
}

@include keyframes(auth-shrink) {
  from {
    height: 55vw;
  }
  to {
    height: 40vw;
  }
}

@include keyframes(calendar-mouseover) {
  @include makeKeyframes(white, mix(white, $primary, 75%));
}

@include keyframes(calendar-select) {
  @include makeKeyframes($none, $primary);
}

@include keyframes(calendar-date-mouseover) {
  from {
    background-color: $none;
    color: $secondary;
  }
  to {
    background-color: mix(white, variables.$primary, 40%);
    color: $paper;
  }
}
