@import "variables";

@keyframes to-white {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: $paper;
  }
}

@keyframes to-none {
  from {
    background-color: $paper;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes auth-expand {
  from {
    height: 40vw;
  }
  to {
    height: 55vw;
  }
}

@keyframes auth-shrink {
  from {
    height: 55vw;
  }
  to {
    height: 40vw;
  }
}