#calendar {
  .calendar-header {
    width: (100vw/7);
  }

  .day-square.selected {
    cursor: default;
    background-color: mix(white, variables.$primary, 50%);

    div {
      animation: calendar-select 0.25s ease;
      background-color: variables.$primary;
      color: variables.$paper;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      text-align: center;
      
      span {
        margin: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .day-square {
    height: 10vw;
    cursor: pointer;

    &:hover:not(.selected) {
      animation: calendar-mouseover 0.25s ease;
      background-color: mix(white, variables.$primary, 75%);

      span {
        margin: auto;
        display: inline-block;
        vertical-align: middle;
      }

      div {
        animation: calendar-date-mouseover 0.25s ease;
        background-color: mix(white, variables.$primary, 40%);
        color: variables.$paper;
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
}

#agenda {
  border-radius: 1rem;
  border: 0.1rem solid variables.$accent1;
  padding: 2vw;

  .agenda-header {
    width: 25%;
  }

  .agenda-col {
    cursor: pointer;
  }
}
