@keyframes to-white {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: $paper;
  }
}

@keyframes to-none {
  from {
    background-color: $paper;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}