$paper: rgba(239, 241, 243, 1);
$accent2: rgba(104, 105, 99, 1);
$secondary: rgba(51, 51, 51, 1);
$primary: rgba(197, 15, 60, 1);
$accent1: rgba(219, 84, 97, 1);

$theme-colors: (
  "accent2": rgba(104, 105, 99, 1),
  "accent1": rgba(219, 84, 97, 1),
  "dark": rgba(104, 105, 99, 1),
  "light": rgba(239, 241, 243, 1),
  "paper": rgba(239, 241, 243, 1)
);