@import "animations.scss";

footer {
  background-color: $paper;
  color: $secondary;

  img {
    max-width: 20vw;
  }

  #image-header {
    padding-left: 1vw;
  }
}

.splash {
  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
  }
}

.navbar {
  padding: 0;
  font-size: 1.125vw;

  .navbar-brand {
    margin: 0;
    padding: 0;

    img {
      max-width: 20vw;
    }
  }
}

@media only screen and (max-width: 993px) {
  .navbar {
    .collapse {
      padding: 1vw;
    }
  }
}

.unsplash-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;

  span {
    display: inline-block;
    padding: 2px 3px;
  }

  svg {
    height: 12px;
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -2px;
    fill: white;
  }
}

.override-bg-default {
  background-color: rgba(0, 0, 0, 0);
}

.override-bg-light {
  animation: to-white 0.5s cubic-bezier(.39,.58,.57,1);
  background-color: #eff1f3;
}

.override-bg-none {
  animation: to-none 0.5s cubic-bezier(.39,.58,.57,1);
  background-color: rgba(0, 0, 0, 0);
}