@use "mixins";
@use "variables";

@import "animations";

a {
  cursor: pointer;
}

footer {
  background-color: variables.$paper;
  color: variables.$secondary;

  img {
    max-width: 20vw;
  }

  #image-header {
    padding-left: 1vw;
  }
}

.unsplash-credit {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;

  span {
    display: inline-block;
    padding: 2px 3px;
  }

  svg {
    height: 12px;
    width: auto;
    position: relative;
    vertical-align: middle;
    top: -2px;
    fill: white;
  }
}

.splash-container {
  .splash {
    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
    }
  }

  .splash-text {
    position: absolute;
    top: 15vw;
    left: 2.5vw;

    h1,
    h2,
    h3,
    a {
      opacity: 0;
      animation: fade-in 2.5s ease-out forwards;
    }

    h1 {
      font-size: 10vw;
      color: variables.$primary;
      animation-delay: 1.5s;
      margin: 0;
    }

    h2 {
      font-size: 6vw;
      animation-delay: 2.25s;
      margin-bottom: 1vw;
      margin-left: 0.5vw;
    }

    h3 {
      font-size: 1.5vw;
      animation-delay: 2.75s;
      margin-left: 1vw;
    }

    a {
      font-size: 1.5vw;
      animation-delay: 2.75s;
      margin-left: 1vw;

      span {
        display: inline-flex;
        vertical-align: middle;
        font-size: 2vw;
      }
    }
  }
}

.navbar {
  padding: 0;
  font-size: 1.125vw;

  .navbar-brand {
    margin: 0;
    padding: 0;

    img {
      max-width: 20vw;
    }
  }
}

@media only screen and (max-width: 993px) {
  .navbar {
    .collapse,
    .show,
    .collapsing {
      padding: 1vw;
    }
  }
}

.override-bg-default {
  background-color: rgba(0, 0, 0, 0);
}

.override-bg-light {
  animation: to-white 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  background-color: #eff1f3;
}

.override-bg-none {
  animation: to-none 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
  background-color: rgba(0, 0, 0, 0);
}

.auth-container {
  p,
  a,
  label,
  input,
  button {
    font-size: 1vw;
  }

  p,
  a {
    margin-bottom: 1vw;
  }

  .form-group {
    p {
      color: variables.$paper !important;
    }

    a {
      color: variables.$secondary !important;
    }

    .form-check-input {
      width: 5vw;
    }
  }

  .back-container {
    z-index: -1;
    background-color: variables.$secondary;
    width: 70vw;
    height: 30vw;
    position: absolute;
    top: 7.5vw;
    left: 5vw;
  }

  #switch-btns {
    position: absolute;
    right: 30vw;
    top: 25vw;
    color: variables.$paper;
  }

  button {
    @include mixins.btn-auth;
  }

  .Register-container {
    height: 55vw;
    animation: auth-expand .25s ease-out;
  }

  .Login-container {
    height: 40vw;
    animation: auth-shrink .25s ease-out;
  }

  .form-container {
    z-index: 5;
    background-color: variables.$primary;
    width: 35vw;
    margin-bottom: 50px;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.4), 0 1vw 3vw 0 rgba(0, 0, 0, 0.2);

    .container {
      padding: 3vw 2vw;
      font-size: 5vw;
      color: variables.$paper;
    }

    form {
      margin-left: 2vw;

      label,
      .form-text {
        color: variables.$paper !important;
      }

      input {
        border-radius: 0;
      }

      input {
        width: 20vw;
      }

      .google-sign-in {
        cursor: pointer;
        img {
          width: 12.5vw;
          height: auto;
        }
      }

      a {
        color: $white;
      }

      a:hover {
        color: variables.$paper;
      }
    }
  }
}

#reset-form {
  label {
    width: 80%;
    margin-left: 10%;
  }
}

#calendar {
  .calendar-header {
    width: percentage(1/(100/7));
  }
  
  .day-square {
    height: 10vw;
    cursor: pointer;

    &:hover:not(.selected) {
      animation: calendar-mouseover .25s ease;
      background-color: mix(white, variables.$primary, 75%);
    }
  }

  .day-square.selected {
    cursor: default;
    background-color: mix(white, variables.$primary, 75%);

    div {
      animation: calendar-select .25s ease;
      background-color: variables.$primary;
      color: variables.$paper;
      width: 1.9rem;
      height: 1.9rem;
      border-radius: 50%;
      text-align: center;
      
      span {
        margin: auto;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}